<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Robot_Alarm.Alarm_Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Robot_Alarm.Alarm_Server>
      <setting name="Address" serializeAs="String">
        <value>http://140.247.90.36:8001/AlarmNotifier</value>
      </setting>
    </Robot_Alarm.Alarm_Server>
  </applicationSettings>
</configuration>